export base16_00="{{base00-hex}}"
export base16_01="{{base01-hex}}"
export base16_02="{{base02-hex}}"
export base16_03="{{base03-hex}}"
export base16_04="{{base04-hex}}"
export base16_05="{{base05-hex}}"
export base16_06="{{base06-hex}}"
export base16_07="{{base07-hex}}"
export base16_08="{{base08-hex}}"
export base16_09="{{base09-hex}}"
export base16_0A="{{base0A-hex}}"
export base16_0B="{{base0B-hex}}"
export base16_0C="{{base0C-hex}}"
export base16_0D="{{base0D-hex}}"
export base16_0E="{{base0E-hex}}"
export base16_0F="{{base0F-hex}}"
