{# vi:ft=tmux -#}
{# Shorthands for the colors in the format tmux wants them. #}
{%- set base00 = '#' + base00_hex -%}
{%- set base01 = '#' + base01_hex -%}
{%- set base02 = '#' + base02_hex -%}
{%- set base03 = '#' + base03_hex -%}
{%- set base04 = '#' + base04_hex -%}
{%- set base05 = '#' + base05_hex -%}
{%- set base06 = '#' + base06_hex -%}
{%- set base07 = '#' + base07_hex -%}
{%- set base08 = '#' + base08_hex -%}
{%- set base09 = '#' + base09_hex -%}
{%- set base0A = '#' + base0A_hex -%}
{%- set base0B = '#' + base0B_hex -%}
{%- set base0C = '#' + base0C_hex -%}
{%- set base0D = '#' + base0D_hex -%}
{%- set base0E = '#' + base0E_hex -%}
{%- set base0F = '#' + base0F_hex -%}

{# Join all arguments into single line with no spaces between. #}
{%- macro concat() -%}
	{{''.join(varargs)}}
{%- endmacro -%}

{# Generate a tmux ternary statement. #}
{%- macro ternary_escape(expression) -%}
	{{expression.replace(',', '#,')}}
{%- endmacro -%}
{%- macro ternary_raw(cond, iftrue, iffalse) -%}
	#{?{{cond}},{{iftrue}},{{iffalse}}}
{%- endmacro -%}
{%- macro ternary(cond, iftrue, iffalse) -%}
	{{ternary_raw(cond, ternary_escape(iftrue), ternary_escape(iffalse))}}
{%- endmacro -%}

{# The base background used between elements. #}
{%- set base_background = base01 -%}
{# The default foreground colors. #}
{%- set foreground_for_light = base04 -%}
{%- set foreground_for_dark = base00 -%}

set -g status "on"
set -g status-justify "absolute-centre"
set -g status-style "bg={{base_background}}"

set -g status-left-style "none"
set -g status-left-length "100"
{%- macro segment(contents, background, foreground=foreground_for_dark, outside=base_background) -%}
	#[fg={{foreground}},bg={{background}}]{{contents}}#[fg={{background}},bg={{outside}}]
{%- endmacro %}
set -g status-left "{{concat(
	ternary(
		'client_prefix',
		segment(' #S ', base0B, outside=base02),
		segment(' #S ', base04, outside=base02),
	),
	segment('', base02),
)}}"

set -g status-right-style "none"
set -g status-right-length "100"
{%- macro segment(contents, background, foreground=foreground_for_dark, outside=base_background) -%}
	#[fg={{background}},bg={{outside}}]#[fg={{foreground}},bg={{background}}]{{contents}}
{%- endmacro %}
set -g status-right "{{concat(
	segment(' %Y-%m-%d %H:%M ', base02),
	ternary(
		'client_prefix',
		segment(' #H ', base0B, outside=base02),
		segment(' #H ', base04, outside=base02),
	),
)}}"

set -g window-status-separator ""
set -g window-status-style "fg={{foreground_for_dark}},bg={{base02}}"
set -g window-status-current-style "fg={{foreground_for_dark}},bg={{base07}}"
set -g window-status-last-style "fg={{foreground_for_dark}},bg={{base05}}"
set -g window-status-bell-style "fg={{foreground_for_dark}},bg={{base0A}}"
set -gF window-status-activity-style "#{window-status-bell-style}"

{% macro relative_to_current(ifcurrent, ifleftof, ifrightof) -%}
	{{
		ternary_raw(
			'window_active', 
			ternary_escape(ifcurrent),
			ternary_raw(
				'#{e|<=:#{window_index},#{active_window_index}}',
				ternary_escape(ifleftof),
				ternary_escape(ifrightof),
			),
		)
	}}
{%- endmacro -%}
set -g window-status-format "{{concat(
	relative_to_current(
		concat('#[default,fg=', base_background, ',noreverse]'),
		concat('#[default,fg=', base_background, ',noreverse]'),
		concat('#[default,fg=', base_background, ',reverse]'),
	),
	concat(
		'#[default,noreverse] #I',
		ternary('window_activity_flag', ' 󰦨', ''),
		ternary('window_bell_flag', ' 󰂜', ''),
		ternary('window_silence_flag', ' 󰪓', ''),
		ternary('window_zoomed_flag', ' 󰍉', ''),
		ternary('synchronize-panes', ' 󰓦', ''),
		' ',
		relative_to_current('◆', '', ''),
		' #W ',
	),
	relative_to_current(
		concat('#[default,fg=', base_background, ',noreverse]'),
		concat('#[default,fg=', base_background, ',reverse]'),
		concat('#[default,fg=', base_background, ',noreverse]'),
	),
	'#[default,noreverse]',
)}}"
set -gF window-status-current-format "#{window-status-format}"

set -g message-style "fg={{foreground_for_dark}},bg={{base05}}"
set -g message-command-style "fg={{foreground_for_dark}},bg={{base05}}"

set -g pane-border-style "fg={{base02}}"
set -g pane-active-border-style "fg={{base05}}"
