root = true

[*]
indent_style = tab
tab_width = 3

[*.lua]
quote_style = single
call_parentheses = NoSingleTable

[{*.adoc,*.nix,*.yaml,*.yml,flake.lock}]
indent_style = space
tab_width = 2
indent_size = 2

[config/mimeo/associations.txt]
indent_style = space
tab_width = 2
indent_size = 2

[{*/bundle/**,config/*/bundle/**,tmux/frozen/*,vim/bundle-*/**,zsh/rc/completions/generated/*}]
indent_style = unset
tab_width = unset
indent_size = unset
quote_style = unset
call_parentheses = unset
