Xresources.d/colors
config/mpv/scripts/
config/mpv/watch_later/
config/rofi/theme.rasi
profile.d/base16
tmux/frozen/
tmux/resurrect/
vim/.netrwhist
vim/bundle/fzf-base
vim/bundle/powerline
vim/doc/tags
vim/init.vim
vim/spell
zsh/bundle/base16-hooks/polybar.sh
