[submodule "solarized/tmux"]
	path = solarized/tmux
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "zprezto"]
	path = zprezto
	url = git@github.com:MaienM/prezto.git
[submodule "vim/bundle/detectindent"]
	path = vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "vim/bundle/securemodelines"]
	path = vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-sneak"]
	path = vim/bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vim/bundle/matchit.zip"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/splitjoin.vim"]
	path = vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vdebug"]
	path = vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "vim/bundle/browserlink.vim"]
	path = vim/bundle/browserlink
	url = https://github.com/jaxbot/browserlink.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/local-vimrc"]
	path = vim/bundle/local-vimrc
	url = https://github.com/LucHermitte/local_vimrc.git
[submodule "vim/bundle/lh-vim-lib"]
	path = vim/bundle/lh-vim-lib
	url = https://github.com/vim-scripts/lh-vim-lib.git
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/indent-line"]
	path = vim/bundle/indent-line
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/polyglot"]
	path = vim/bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
