Xresources.d/*.local
config/kitty/base16.conf
config/mpv/scripts/
config/mpv/watch_later/
config/polybar/base16.ini
config/rofi/theme.rasi
private/
profile.d/*.local
tmux/frozen/
tmux/resurrect/
tmux/base16.conf
vim/.netrwhist
vim/bundle/fzf-base
vim/colors/
vim/doc/tags
vim/init.vim
vim/spell/
zsh/bundle/fzf
zsh/rc/*.local.zsh
zsh/rc/completions/generated/
