[submodule "vim/bundle/securemodelines"]
	path = vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle-vim/indent-guides"]
	path = vim/bundle-vim/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/bundle/sneak"]
	path = vim/bundle/sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/adelarsq/vim-matchit
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim
[submodule "vim/bundle/polyglot"]
	path = vim/bundle-vim/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/bundle/sleuth"]
	path = vim/bundle/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/bundle/projectroot"]
	path = vim/bundle/projectroot
	url = https://github.com/dbakker/vim-projectroot
[submodule "vim/bundle/easy-align"]
	path = vim/bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/bundle/signature"]
	path = vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux
[submodule "vim/bundle/sort-motion"]
	path = vim/bundle/sort-motion
	url = https://github.com/christoomey/vim-sort-motion
[submodule "vim/bundle/replace-with-register"]
	path = vim/bundle/replace-with-register
	url = https://github.com/inkarkat/vim-ReplaceWithRegister
[submodule "vim/bundle/targets.vim"]
	path = vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/bundle/argwrap"]
	path = vim/bundle/argwrap
	url = https://github.com/FooSoft/vim-argwrap
[submodule "vim/bundle/localvimrc"]
	path = vim/bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "vim/bundle/syntax-graphql"]
	path = vim/bundle/syntax-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "vim/bundle-vim/airline"]
	path = vim/bundle-vim/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle-vim/airline-themes"]
	path = vim/bundle-vim/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "tmux/bundle/battery"]
	path = tmux/bundle/battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "zsh/bundle/history-substring-search"]
	path = zsh/bundle/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/bundle/autosuggestions"]
	path = zsh/bundle/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/bundle/fast-syntax-highlighting"]
	path = zsh/bundle/fast-syntax-highlighting
	url= https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "vim/bundle/syntax-renpy"]
	path = vim/bundle/syntax-renpy
	url = https://github.com/chaimleib/vim-renpy
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf-vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/obsession"]
	path = vim/bundle/obsession
	url = https://github.com/tpope/vim-obsession
[submodule "tmux/bundle/resurrect"]
	path = tmux/bundle/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/bundle/continuum"]
	path = tmux/bundle/continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "vim/bundle-vim/vim-test"]
	path = vim/bundle-vim/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "vim/bundle/rainbow-parentheses"]
	path = vim/bundle/rainbow-parentheses
	url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/bundle-vim/peekaboo"]
	path = vim/bundle-vim/peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "vim/bundle/limelight"]
	path = vim/bundle/limelight
	url = https://github.com/junegunn/limelight.vim
[submodule "vim/bundle/goyo"]
	path = vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "config/mpv/bundle/occivink"]
	path = config/mpv/bundle/occivink
	url = https://github.com/occivink/mpv-scripts
[submodule "vim/bundle/advanced-sorters"]
	path = vim/bundle/advanced-sorters
	url = https://github.com/inkarkat/vim-AdvancedSorters
[submodule "vim/bundle/ingo-library"]
	path = vim/bundle/ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule "vim/bundle/braceless"]
	path = vim/bundle/braceless
	url = https://github.com/tweekmonster/braceless.vim
[submodule "config/mpv/bundle/youtube-quality"]
	path = config/mpv/bundle/youtube-quality
	url = https://github.com/jgreco/mpv-youtube-quality
[submodule "zsh/bundle/powerlevel10k"]
	path = zsh/bundle/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "vim/bundle/suda"]
	path = vim/bundle/suda
	url = https://github.com/lambdalisue/suda.vim
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim/bundle/syntax-nearly"]
	path = vim/bundle/syntax-nearly
	url = https://github.com/tjvr/vim-nearley
[submodule "zsh/bundle/fzf-tab"]
	path = zsh/bundle/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/bundle/histdb"]
	path = zsh/bundle/histdb
	url = https://github.com/larkery/zsh-histdb
[submodule "vim/bundle/golden-ratio"]
	path = vim/bundle/golden-ratio
	url = https://github.com/roman/golden-ratio
[submodule "zsh/bundle/completion-gradle"]
	path = zsh/bundle/completion-gradle
	url = https://github.com/gradle/gradle-completion
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "config/mpv/bundle/sponsorblock"]
	path = config/mpv/bundle/sponsorblock
	url = https://github.com/po5/mpv_sponsorblock
[submodule "vim/bundle/qf"]
	path = vim/bundle/qf
	url = https://github.com/romainl/vim-qf
[submodule "zsh/bundle/completions"]
	path = zsh/bundle/completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vim/bundle-nvim/treesitter"]
	path = vim/bundle-nvim/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/bundle-nvim/indent-blankline"]
	path = vim/bundle-nvim/indent-blankline
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "config/base16/bundle/fzf"]
	path = config/base16/bundle/fzf
	url = https://github.com/fnune/base16-fzf
[submodule "config/base16/bundle/k9s"]
	path = config/base16/bundle/k9s
	url = https://github.com/krgn/base16-k9s
[submodule "config/base16/bundle/polybar"]
	path = config/base16/bundle/polybar
	url = https://github.com/Misterio77/base16-polybar
[submodule "config/base16/bundle/rofi"]
	path = config/base16/bundle/rofi
	url = https://gitlab.com/jordiorlando/base16-rofi
[submodule "config/base16/bundle/shell"]
	path = config/base16/bundle/shell
	url = https://github.com/tinted-theming/base16-shell
[submodule "config/base16/bundle/xresources"]
	path = config/base16/bundle/xresources
	url = https://github.com/base16-project/base16-xresources
[submodule "config/base16/bundle/dircolors"]
	path = config/base16/bundle/dircolors
	url = https://github.com/MaienM/base16-gnu-dircolors.git
[submodule "vim/bundle-nvim/lsp-config"]
	path = vim/bundle-nvim/lsp-config
	url = https://github.com/neovim/nvim-lspconfig
[submodule "config/direnv/bundle/nix"]
	path = config/direnv/bundle/nix
	url = https://github.com/nix-community/nix-direnv
[submodule "vim/bundle-nvim/notify"]
	path = vim/bundle-nvim/notify
	url = https://github.com/rcarriga/nvim-notify
[submodule "vim/bundle-nvim/noice"]
	path = vim/bundle-nvim/noice
	url = https://github.com/folke/noice.nvim
[submodule "vim/bundle-nvim/nui"]
	path = vim/bundle-nvim/nui
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "vim/bundle-nvim/cmp"]
	path = vim/bundle-nvim/cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "vim/bundle-nvim/cmp-lsp"]
	path = vim/bundle-nvim/cmp-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "vim/bundle-nvim/cmp-buffer"]
	path = vim/bundle-nvim/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "vim/bundle-nvim/cmp-path"]
	path = vim/bundle-nvim/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "vim/bundle-nvim/cmp-cmdline"]
	path = vim/bundle-nvim/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule "vim/bundle-nvim/luasnip"]
	path = vim/bundle-nvim/luasnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "vim/bundle-nvim/cmp-luasnip"]
	path = vim/bundle-nvim/cmp-luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "vim/bundle-nvim/inc-rename"]
	path = vim/bundle-nvim/inc-rename
	url = https://github.com/smjonas/inc-rename.nvim
[submodule "vim/bundle-nvim/dressing"]
	path = vim/bundle-nvim/dressing
	url = https://github.com/stevearc/dressing.nvim
[submodule "vim/bundle-nvim/lspkind"]
	path = vim/bundle-nvim/lspkind
	url = https://github.com/onsails/lspkind.nvim
[submodule "vim/bundle-nvim/lsp-format"]
	path = vim/bundle-nvim/lsp-format
	url = https://github.com/lukas-reineke/lsp-format.nvim
[submodule "vim/bundle-nvim/fzf-lsp"]
	path = vim/bundle-nvim/fzf-lsp
	url = https://github.com/gfanto/fzf-lsp.nvim
[submodule "vim/bundle-nvim/plenary"]
	path = vim/bundle-nvim/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim/bundle-nvim/treesitter-context"]
	path = vim/bundle-nvim/treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "vim/bundle-nvim/none-ls"]
	path = vim/bundle-nvim/none-ls
	url = https://github.com/nvimtools/none-ls.nvim
[submodule "vim/bundle-nvim/zk"]
	path = vim/bundle-nvim/zk
	url = https://github.com/mickael-menu/zk-nvim
[submodule "vim/bundle-nvim/base16"]
	path = vim/bundle-nvim/base16
	url = https://github.com/RRethy/nvim-base16
[submodule "vim/bundle-nvim/devicons"]
	path = vim/bundle-nvim/devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "vim/bundle-nvim/lualine"]
	path = vim/bundle-nvim/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "vim/bundle-nvim/rust-tools"]
	path = vim/bundle-nvim/rust-tools
	url = https://github.com/MunifTanjim/rust-tools.nvim
	branch = patched
[submodule "config/base16/templates/kitty"]
	path = config/base16/bundle/kitty
	url = https://github.com/kdrag0n/base16-kitty
[submodule "vim/bundle-nvim/neotest"]
	path = vim/bundle-nvim/neotest
	url = https://github.com/nvim-neotest/neotest
[submodule "vim/bundle-nvim/neotest-python"]
	path = vim/bundle-nvim/neotest-python
	url = https://github.com/nvim-neotest/neotest-python
[submodule "vim/bundle-nvim/neotest-go"]
	path = vim/bundle-nvim/neotest-go
	url = https://github.com/nvim-neotest/neotest-go
[submodule "vim/bundle-nvim/neotest-rust"]
	path = vim/bundle-nvim/neotest-rust
	url = https://github.com/rouge8/neotest-rust
[submodule "vim/bundle-nvim/neodev"]
	path = vim/bundle-nvim/neodev
	url = https://github.com/folke/neodev.nvim
[submodule "vim/bundle-nvim/which-key"]
	path = vim/bundle-nvim/which-key
	url = https://github.com/folke/which-key.nvim
[submodule "vim/bundle-nvim/trouble"]
	path = vim/bundle-nvim/trouble
	url = https://github.com/folke/trouble.nvim
[submodule "vim/bundle-nvim/typescript-tools"]
	path = vim/bundle-nvim/typescript-tools
	url = https://github.com/pmizio/typescript-tools.nvim
