[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "solarized/tmux"]
	path = solarized/tmux
	url = git://github.com/seebi/tmux-colors-solarized.git
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/MaienM/prezto.git
