snippet /// "/// <summary> ... </summary>"
/// <summary>
/// ${1}
/// </summary>
endsnippet

snippet ///p "/// <param> ... </param>"
/// <param name="${1}">${2}</param>
endsnippet

snippet ///r "/// <returns> ... </returns>"
/// <returns>${1}</returns>
endsnippet

snippet prop "Property"
public $1 { get; set; }
endsnippet
