snippet /** "Doxygen"
/** @brief
 * $1
 */
endsnippet 

snippet /*** "Doxygen group header"
/*********************************//**@name
 * $1
 *****************************************/
endsnippet 

snippet public
/**
 *
 * @var $1
 */
public $$2
endsnippet

snippet protected
/**
 *
 * @var $1
 */
protected $$2
endsnippet

snippet private
/**
 *
 * @var $1
 */
private $$2
endsnippet
