snippet tab
\begin{tabular}{l|l|l|l|p{8cm}}
	name         & type    & nullable & relation & description\\\\
	\hline
	id           & integer & f        &          & The ID of the $1.\\\\
	$2
\end{tabular}
endsnippet
