export base00="{{base00-hex}}"
export base01="{{base01-hex}}"
export base02="{{base02-hex}}"
export base03="{{base03-hex}}"
export base04="{{base04-hex}}"
export base05="{{base05-hex}}"
export base06="{{base06-hex}}"
export base07="{{base07-hex}}"
export base08="{{base08-hex}}"
export base09="{{base09-hex}}"
export base0A="{{base0A-hex}}"
export base0B="{{base0B-hex}}"
export base0C="{{base0C-hex}}"
export base0D="{{base0D-hex}}"
export base0E="{{base0E-hex}}"
export base0F="{{base0F-hex}}"
