[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams - Team Rockstars IT
Comment=Microsoft Teams for Linux is your chat-centered workspace in Office 365.
Exec=sh -c 'run-teams-with-home "${XDG_CONFIG_HOME:-$HOME/.config}/teams-rockstars" "$@"' -- %U
Icon=teams
Terminal=false
StartupNotify=true
StartupWMClass=Microsoft Teams - Preview
Categories=Network;
MimeType=x-scheme-handler/msteams;
X-KDE-Protocols=teams
X-GNOME-UsesNotifications=true;
